/* CSS Document */

:root {
    /* Color Palette (Darkest to Lightest) */
    --brunswick-green: #263A26; /* Deep forest green, darkest shade */
    --dark-slate-gray: #36545C; /* Deep teal/slate */
    --seal-brown: #56321A; /* Rich brown */
    --cedar: #A55C39; /* Warm, distinct accent */
    --cambridge-blue: #8CA399; /* Sage green */
    --battleship-gray: #A9A991; /* Lightened grayish olive */
    --alabaster: #E1DFD3; /* Lightest shade, for primary backgrounds */
    --bone: #E8E6D9; /* Light cream, for secondary backgrounds */
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
}

body {
    background-color: var(--brunswick-green);
}   

#textLink {
    text-decoration: none;
    color:var(--alabaster);
}

/* home page css */

.navBarHome {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    display: flex;
    height: 4rem;
    color: #e1dfd3;
    list-style: none;
    gap: 8rem;
    justify-content: center;
    letter-spacing: 0.125rem;
    font-size: 0.8rem;
}

.navListHome {
    height: 60%;
    width: 20%;
    text-align: center;
    align-content: center;
    border-style: solid;
    border-radius: 5% / 50% ;
    border-color: #94947C;
    background-color: #94947C;
}

.logoContainerHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:20rem;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.companyLogoHome {
    height: 15rem;
    object-fit: contain;
}

.companyNameHome {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem; 
    color: #e1dfd3;
    letter-spacing: 0.1em; 
    margin: 0;
}

/* other pages css */

.navListOther {
    height: 60%;
    width: 20%;
    text-align: center;
    align-content: center;
}

.navBarOther {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    display: flex;
    color: #e1dfd3;
    list-style: none;
    background-color: var(--cedar);
    justify-content: space-around;
    align-items: center;
}

.logoContainerOther {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
}

.companyLogoOther {
    height: 4rem;
    margin: 0.3rem 0 0 1.2rem;
    object-fit: contain;
}

.companyNameOther {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem; 
    color: #e1dfd3;
    letter-spacing: 0.1em; 
    margin: 0 0 0.2rem 0;
}

